/* font */
/* ÆNDRE */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

/* css link */
@import url(./nav-stylesheet.css);
/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* INDTAST FARVER */


    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --danger: #DC4C64;
    --warning: #E4A11B;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;
    --error: #ff2222;
    --success: #14A44D;
}

body {
    /* ÆNDRE */
    background-color: var(---light);
    font-family: inri
}
.pc-element {
    background-color: var(--primary);
}

.mitsted {
    text-align: center;
}

#myIcon {
    position: absolute;
  top: 50px;
}

