/* font */
/* ÆNDRE */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* css link */
@import url(./loader.css);
@import url(./burger.css);
/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* INDTAST FARVER */


    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --danger: #DC4C64;
    --warning: #E4A11B;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;
    --error: #ff2222;
    --success: #14A44D;
}

body {
    /* ÆNDRE */
    background-color: var(---light);
    background-image: url(../image/let-skyet.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}
/* .pc-element {
    background-color: var(--primary);
} */

.sted {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
}

#myIcon {
    position: absolute;
    top: 50px;
}

.mobilview header {
    margin: 10px;
    display: flex;

}
.header-containter {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: white;

}

.mobilview header article {
    padding: 0 10px 0 7px;
    
}
.sol-op, .sol-ned, .temp {
    font-size: 15px;
    font-weight: 100;
}
.hjul {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D5E5F2;
    border-radius: 50%;
    border: solid 18px #143259;
}

.top-hjul {
    display: flex;
    justify-content: center ;
    align-items: center;
    border-bottom: solid 1px black;
    width: 70%;
}

.top-hjul img {
    padding-right: 7px;
    padding-bottom: 5px;
}
.vindhastighed {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.temperatur {
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.grader {
    font-size: 67px;
}

.tid {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    /* margin-top: 30px; */
    font-size: 20px;
    /* background-color: #14A44D; */
    font-family: 'Roboto', sans-serif;

}
#myIcon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    width: 59px;
    height: 59px;
    color: #143259;
    z-index: 999;
    font-size: 60px;

}