/* font */
/* ÆNDRE */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

/* css link */
@import url(./loader.css);
/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* INDTAST FARVER */


    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --danger: #DC4C64;
    --warning: #E4A11B;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;
    --error: #ff2222;
    --success: #14A44D;
}

body {
    /* ÆNDRE */
    background-color: var(---light);
}
/* .pc-element {
    background-color: var(--primary);
} */

.mitsted {
    text-align: center;
}

#myIcon {
    position: absolute;
  top: 50px;
}

#myApp{
    /* background-image: '../assets/image/let-skyet.jpg'; */
    /* width: 100%; */
    /* width: 100vw;
    height: 100vh;
    background-position: center center;
    Background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
/* background-color: red; */
}

.mobilview header {
    margin: 10px;
    display: flex;

}
.header-containter {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.mobilview header article {
    padding: 0 10px 0 7px;
}

.mobilview .hjul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5E5F2;
    border-radius: 50%;
    border: solid 15px #143259;
}